<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">


    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/selectFX/css/cs-skin-elastic.css">

    <link rel="stylesheet" href="assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>



</head>

<body>
    <!-- Left Panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <div class="content mt-3">
            <div class="animated fadeIn">

                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            Use the grid for big devices!
                            <small>
                                <code>.col-lg-*</code><code>.col-md-*</code><code>.col-sm-*</code>
                            </small>
                        </div>
                        <div class="card-body card-block">
                            <form action="" method="post" class="form-horizontal">
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="tanggal" class="form-control-label">Tanggal</label></label><input type="date" placeholder="Tanggal" class="form-control"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-5"><label for="namaBarang" class="form-control-label">Nama Barang</label><input type="text" placeholder="" class="form-control"></div>
                                    <div class="col col-md-2"><label for="kuantitas" class="form-control-label">Kuantitas</label><input type="text" placeholder="" class="form-control"></div>
                                    <div class="col col-md-3"><label for="Harga" class="form-control-label">Harga</label><input type="text" placeholder="" class="form-control"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="disabled-input" class=" form-control-label">Total</label><input type="text" id="total" name="total" placeholder="" disabled="" class="form-control"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-5"><label for="namaBarang" class="form-control-label">Catatan</label><input type="textfield" placeholder="" class="form-control"></div>       
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-2"><input type="submit" placeholder="Kirimkan" class="form-control" style="background-color:green; color:white;"></div>
                                </div>
                                
                                
                            </form>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>

            </div><!-- .animated -->
        </div><!-- .content -->
    </div><!-- /#right-panel -->
    <!-- Right Panel -->


                        <script src="vendors/jquery/dist/jquery.min.js"></script>
                        <script src="vendors/popper.js/dist/umd/popper.min.js"></script>

                        <script src="vendors/jquery-validation/dist/jquery.validate.min.js"></script>
                        <script src="vendors/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>

                        <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
                        <script src="assets/js/main.js"></script>
</body>
</html>
